@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html, body {
    margin: 10px;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Amatic SC;
    font-size: 250px;
}

button {
    margin: 10px;
    background-color: rgb(184, 81, 166);
    background-color: rgb(184, 184, 184);
    /* background-color: rgb(69, 156, 113); */
    font-size: 16px;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
}
button:hover {
    font-size: 20px;
    border-radius: 20px;
}

#canvas {
    border: 5px solid black;
}